body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4; /* You can adjust this color to match the lightest color in your new background */
    background-image: url('https://github.com/rohitmittapalli/website/blob/main/background.png?raw=true'); /* Update with the actual path to the new image */
    background-repeat: no-repeat;
    background-size: cover; /* This will ensure that the background covers the entire viewport */
    background-attachment: fixed; /* Optional: keeps the background fixed in place during scroll */
}


.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* Add some space at the top */
}

.profile-card-wrapper {
    display: flex;
    align-items: center;
    color: #333;
    background-color: #f4f4f4; /* You can adjust this color to match the lightest color in your new background */
    padding: 20px; /* Space around the card and profile picture */
    max-width: 675px; /* Adjust the maximum width of the card */
    width: 100%; /* Ensure the card is responsive */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Shadow for the combined card and profile */
}

.profile-picture {
    flex-shrink: 0; /* Prevent the image from being cut off */
    overflow: hidden; /* Ensures the image is contained within the border-radius */
    margin-right: 20px; /* Space between the picture and the card */
    line-height: 0; /* Removes any extra line height around the image */
}

.profile-img {
    display: block; /* Removes any extra space below the image */
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    object-fit: cover;
}

@media (max-width: 768px) {
    .profile-picture {
        display: none;
    }
}

.card {
    background-color: #f4f4f4; /* You can adjust this color to match the lightest color in your new background */
    padding: 20px;
    flex-grow: 1; /* Allow the card to grow to fill the available space */
}

.header h1, .header h2, .header h3 {
    color: #333;
    margin: 0;
    padding: 0;
    text-align: left;
}

.header h1 {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
}

.header h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.header h3 {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.content p {
    font-size: 14px;
    color: #666;
    text-align: left;
    line-height: 1.6;
    margin-bottom: 20px;
}

.links {
    text-align: left;
}

.links a {
    color: #1a0dab;
    text-decoration: none; /* Remove underline */
    cursor: pointer;
    font-size: 14px;
    margin-right: 15px;
}

.links a:hover {
    text-decoration: underline; /* Add underline on hover for links */
}

.company-link {
    color: #1a0dab;
    text-decoration: none; /* Remove underline */
    cursor: pointer;
    font-size: 14px; /* Add font size */
}

.company-link:hover {
    text-decoration: underline; /* Add underline on hover for company-link */
}

.email-link {
    color: #1a0dab;
    cursor: pointer;
    font-size: 14px;
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.email-link:hover .popuptext {
    visibility: visible;
}

.email-link .popuptext {
    visibility: hidden;
    width: auto;
    background-color: #f4f4f4; /* You can adjust this color to match the lightest color in your new background */
    color: #888; /* Softer grey color */
    text-align: left;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    border: 1px solid lightgrey;
    margin-top: 5px;
}

.email-link .popuptext img {
    height: 14px;
    vertical-align: middle;
    background: transparent;
    cursor: pointer;
    margin-left: 3px;
}

#copyNotification {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    background: #555;
    color: #fff;
    text-align: center;
    font-size: 14px;
    z-index: 1000;
    border: 1px solid lightgrey;
}

